<div class="container">
<h1 align="center">	Global Leaderboard </h1>
<h5 align="center"> who poops the longest? </h5>
<br>
<br>
<h6> Filter by country </h6>
<%= form_for_filterrific @filterrific do |f| %>
<%= f.text_field(
      :with_country_name, 
      placeholder: 'Input country', class: "form-control") %>	
<% end %>
<br>

<table class="table table-hover">
	

<tr>
	  <th> Number</th>
		<th> Gender </th>
		<th> Age </th>
		<th> Nationality</th>
		<th> Photo</th>
		<th> Time Taken</th>
		<th> Location</th>
		<th> Recorded At </th>

</tr>

<% @timer.sort_by{ |a| a.time.to_i }.reverse.each_with_index do |timer, number| %>
	<tr> 	
		<td> <%= number + 1 %> </td>
		<td> <%= timer.user.gender %> </td>
		<td> <%= timer.user.age %> </td>
    <td> <%= timer.user.country %> </td>
    <td> <%= link_to "view photo", photo_path(timer) %></td>
    <td> <%= timer.time %>	</td>
    <td> <p> location </p> </td>
    <td> <%= timer.created_at.strftime("%B %d %Y, %l:%M%P") %> </td>

<%#end %>


	</tr>		


<%end %>


</table>


</div>

<script type="text/javascript">
	
	Filterrific.submitFilterForm = function(){
  var form = $(this).parents("form"),
      url = form.attr("action");
  // turn on spinner
  $('.filterrific_spinner').show();
  // Submit ajax request
  $.ajax({
    url: url,
    data: form.serialize(),
    type: 'GET',
    dataType: 'script'
  }).done(function( msg ) {
    $('.filterrific_spinner').hide();
  });
};

</script>

