<!DOCTYPE html>
<html>
  <head>
    <title>Pooptimer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	  <%= link_to "Log In", new_session_path %>
    <%= content_tag :div, msg, class: "alert alert-info" %>

<% end %>
    <%= yield %>
  </body>
</html>

